<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/head') %> 
<!-- HEAD -->

<body>
    
    <!-- HEADER -->
    <%- include('../partials/header') %> 
    <!-- HEADER -->


     <!--MAIN-->

     <main class="home"> 

       
        <section class="banner">
            <img class="banner1" src="/images/wireframe/movil.png"alt="banner" />
            <img class="banner2" src="/images/wireframe/banner.png"alt="banner" />
        </section>

      <%- include("./partials/publicidad") %>  
   
    <section>
    <article class="loMasVendido" >
        <h1>LO MÁS VENDIDO</h1>
    </article>
    </section>
    
    
   
     <%- include("./partials/zapatillas") %> 
        <section>
            <article class="lanzamiento" >
                <h1>LANZAMIENTO</h1>
            </article>
        </section>

   
   
        <%- include("./partials/lanzamientoZapatillas") %>
         
        <!--marcas-->
        <section class="marcass">
            <article class="CompraPorMarca" >
                <h1>COMPRA POR MARCA</h1>
            </article>
        </section>
        <%- include("./partials/marcasZapatillas") %> 


    </main>
   
    <!--MAIN-->
 
    <!-- FOOTER -->
        <%- include('../partials/footer') %> 
    <!-- FOOTER -->
</body>
</html>