<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include('../partials/head') %>
  <!-- HEAD -->

  <body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
    <!-- HEADER -->

    <!-- MAIN -->
    <main>
      <img width="100%" src="/images/bannerlogomarcas/Adidas.jpg" alt="">
      <h1 class="titulos">PRODUCTOS DE MARCA: ADIDAS ORIGINAL</h1>
   
      <section class="mercaderia">
        <%  producto.map(e=>{%>
          <% if(e.Marca.nombre =="Adidas Original"){ %> 
     
           <article>
            <a href="/products/productDetail/<%= e.id %>">
               <div>
                   <img src="/images/articulos/<%= e.Imagen[0].nombre %>" alt="e.Imagen.nombre">
               </div>  
               <div>
                <strong>
                  <%= toThousand(e.precio)%>
                </strong>
                <p>
                  <%=e.Marca.nombre%>
                </p>
                <h4>
                    <%= e.nombre%>
                </h4>
               </div>
            </a>   
           </article>
           <% } %> 
           <% }) %>
        </section>
    </main>
    <!-- MAIN -->

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
    <!-- FOOTER -->
    <button class="scroll btnOculto">&#11014;</button>
    <script src="/js/botonScroll.js"></script>
  </body>
</html>
