<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/head') %>
    <!-- HEAD -->

    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>
            <!-- HEADER -->


            <main class="detalleProducto">
                <!-- ruta -->
                <section class="ruta oculto">
                    <a href="/">INICIO ></a>
                    <span class="ruta-span">Nombre del Producto</span>
                </section>

                <!-- banner del producto -->
                <section class="bannerProducto">
                    <img src="/images/hombre/bannerdetalleprod.png" alt="banner de una persona deportista corriendo">
                </section>

                <!-- seccion de zapatillas -->

                <section class="zapatillas1">
                    <article class="zapatillas1-articulos">

                        <div class="zapatilla-principal">
                            <!-- img principar -->
                            <img src="/images/articulos/<%=imagen[0].nombre %>" alt="<%= idProduct.nombre %>">
                        </div>

                        <div class="zapatillas1-colores">
                            <!-- img -->
                            <% restoImagen.map(e=>{ %>


                                <div class="zapatillas1-colors_eleccion">
                                    <img src="/images/articulos/<%= e.nombre %> " alt="<%= idProduct.nombre %> ">
                                </div>
                                <% }) %>
                        </div>

                    </article>
                </section>

                <!-- talles del producto -->

                <aside class="talles">
                    <div class="talles-descripcion">
                        <h3>
                            <%= idProduct.nombre %>
                        </h3>
                        <h4>
                           <!-- colors -->
                           <% colors.map(e=>{ %>
                            <span>
                                <%= e.nombre %>


                            </span>
                            <%}) %>

                        </h4>
                        <h5>$<%= toThousand(idProduct.precio) %>
                        </h5>
                    </div>

                    <form class="talles-datos" action="/products/carritoDeCompras" method="GET">
                        <h3>TALLES</h3>
                        <div class="talles-datos-numero">
                           
                            <!-- talles -->
                            <% talles.map(e=>{ %>
                                <div>
                                    <input type="checkbox" name="<%= e.nombre %> " id="talle<%= e.nombre %>">
                                    <label for="talle<%= e.nombre %>">
                                        <%= e.nombre %>
                                    </label>
                                </div>
                                <% }) %>

                        <input class="boton" type="submit" value="AGREGAR A CARRITO">

                    </form>
                </aside>

                <!-- seccion de descripciones sobre el producto -->

                <section class="descripciones">
                    <h3>Descripcion</h3>
                    <div class="descripciones-texto">
                        <h4>
                            <%=idProduct.nombre %>
                        </h4>
                        
                        <p>
                            <%=idProduct.descripcion %>
                        </p>
                    </div>
                    <h3>Detalles del producto</h3>
                    <nav class="descripciones-detalles">
                        

                        <!-- detalles -->
                        <% detalles.map(e=>{ %>
                            <li>
                                <%= e.nombre %>
                            </li>
                            <% }) %>

                    </nav>
                </section>

                <!-- seccion de ofertas sobre el producto -->

                <section class="ofertas">
                    <h3>Tambien puede interesarte estas ofertas</h3>
                    <!-- <section class="mercaderia"> -->
                        <div class="zapas-recomendadas contenedor">
                            <div class="contenedor-principal">
                                <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>
                                  <div class="contenedor-carousel">
                                     <div class="carousel">
                        <%  productos.map(e=>{%>
                            <% if(e.Outlet.nombre =="Si"){ %> 
                       
                             <article id="zapatilla-img"class="zapatilla-img">
                              <a href="/products/productDetail/<%= e.id %>">
                                 <div>
                                     <img class="zapatilla-img1"src="/images/articulos/<%= e.Imagen[0].nombre %>" alt="e.Imagen.nombre">
                                 </div>  
                                 <div id= "ofertasZapatillaPrecio"class="ofertasZapatillaPrecio">
                                  <strong>
                                    <%= toThousand(e.precio)%>
                                  </strong>
                                  <p>
                                      <%=e.marca%>
                                  </p>
                                  <h4>
                                      <%= e.nombre%>
                                  </h4>
                                 </div>
                              </a>   
                             </article>
                             <% } %> 
                             <% }) %>
                             </div>
                          </div>
                        <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
                    </div>
                </div>


                    </section>
                </section>

                <section class="verMas">
                    <button>Ver Mas</button>
                </section>
            </main>

            <!-- FOOTER -->
            <%- include('../partials/footer') %>
                <!-- FOOTER -->

                <script src="/js/carrousel.js"></script>
                <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script> 

    </body>

</html>