<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/head') %> 
<!-- HEAD -->

<body>

    <!-- HEADER -->
    <%- include('../partials/header') %> 
    <!-- HEADER -->
    

    <main class="detalleProducto">
        <!-- ruta -->
        <section class="ruta oculto">
            <a href="/">INICIO ></a>
            <span class="ruta-span">Nombre del Producto</span>
        </section>

        <!-- banner del producto -->
        <section class="bannerProducto">
            <img src="/images/hombre/bannerdetalleprod.png" alt="banner de una persona deportista corriendo">
        </section>

        <!-- seccion de zapatillas -->

        <%- include('./partials/zapatilla-articulo') %>

        <!-- talles del producto -->
        
        <%- include('./partials/talles-product') %>

        <!-- seccion de descripciones sobre el producto -->
        
        <%- include('./partials/description-product') %>

        <!-- seccion de ofertas sobre el producto -->

       <%- include('./partials/ofertas') %> 
       
        <section class="verMas">
            <button>Ver Mas</button>
        </section>
    </main>

<!-- FOOTER -->
<%- include('../partials/footer') %> 
<!-- FOOTER -->

    
    
</body>

</html>