<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/head') %> 
<!-- HEAD -->

<body>

    <!-- HEADER -->
    <%- include('../partials/header') %> 
    <!-- HEADER -->
    

    <main class="detalleProducto">
        <!-- ruta -->
        <section class="ruta oculto">
            <a href="/">INICIO ></a>
            <span class="ruta-span">Nombre del Producto</span>
        </section>

        <!-- banner del producto -->
        <section class="bannerProducto">
            <img src="/images/hombre/bannerdetalleprod.png" alt="banner de una persona deportista corriendo">
        </section>

        <!-- seccion de zapatillas -->

        <%- include('./partials/zapatilla-articulo') %>

        <!-- talles del producto -->
        
        <%- include('./partials/talles-product') %>

        <!-- seccion de descripciones sobre el producto -->
        
        <%- include('./partials/description-product') %>

        <!-- seccion de ofertas sobre el producto -->
        <section class="ofertas">
            <h5>Tambien puede interesarte estas ofertas</h5>
            <section class="ofertas-general">
                <article class="ofertas-zapatillas">
                    <a href="#">
                        <div class="ofertas-zapatilla_img">
                            <img src="/images/hombre/topper.png" alt="zapatilla topper">
                        </div>

                        <div class="ofertas-zapatilla-precio">
                            <h5>$7.500</h5>
                            <p>Zapatillas</p>
                            <p>Topper</p>
                            <p>String Pace Plus</p>
                        </div>
                    </a>
                </article>
                <article class="ofertas-zapatillas">
                    <a href="#">
                        <div class="ofertas-zapatilla_img">
                            <img src="/images/hombre/nike.png" alt="zapatilla nike">
                        </div>

                        <div class="ofertas-zapatilla-precio">
                            <h5>$10.000</h5>
                            <p>Zapatillas</p>
                            <p>Nike</p>
                            <p>Air Max Excee</p>
                        </div>
                    </a>
                </article>
                <article class="ofertas-zapatillas">
                    <a href="#">
                        <div class="ofertas-zapatilla_img">
                            <img src="/images/hombre/fila.png" alt="zapatilla Fila">
                        </div>

                        <div class="ofertas-zapatilla-precio">
                            <h5>$8.938</h5>
                            <p>Zapatillas</p>
                            <p>Fila</p>
                            <p>Fore Jogger</p>
                        </div>
                    </a>
                </article>
                <article class="ofertas-zapatillas oculto">
                    <a href="#">
                        <div class="ofertas-zapatilla_img">
                            <img src="/images/hombre/botinNike.png" alt="Botines Nike Verdes claro">
                        </div>

                        <div class="ofertas-zapatilla-precio">
                            <h5>$15.000</h5>
                            <p>Botines Nike</p>
                            <p>Phantom Vision</p>
                            <p>Elite DfFg</p>
                        </div>
                    </a>
                </article>
            </section>

        </section>
        <section class="verMas">
            <button>Ver Mas</button>
        </section>
    </main>

<!-- FOOTER -->
<%- include('../partials/footer') %> 
<!-- FOOTER -->

    
    
</body>

</html>