<!DOCTYPE html>
<html lang="en">

 <!-- HEAD -->
<%- include('../partials/head') %> 
<!-- HEAD -->

<body>
    
    <!-- HEADER -->
    <%- include('../partials/header') %> 
    <!-- HEADER -->

    <!-- MAIN -->
    <main>
        <h1 class="titulos">TU BUSQUEDA ES :<%= search %> </h1>
    <section class="mercaderia">
    <%  producto.map(e=>{%>
 
       <article class="zapatilla-img">
        <a href="/products/productDetail/<%= e.id %> ">
           <div>
               <img src="/images/articulos/<%= e.Imagen[0].nombre %> " alt="<%=e.Imagen[0].nombre%> ">
           </div>  
           <div class="ofertasZapatillaPrecio">
            <strong>
                <%= toThousand(e.precio)%>
            </strong>
            <p>
                <%=e.Marca.nombre%>
            </p>
            <h4>
                <%= e.nombre%>
            </h4>
           </div>
        </a>   
       </article>
       <% }) %>
    </section>
</main>
    <!-- MAIN -->
            
        <!-- FOOTER -->
        <%- include('../partials/footer') %> 
        <!-- FOOTER -->
        

    </body>
</html>