<!DOCTYPE html>
<html lang="en">

 <!-- HEAD -->
<%- include('../partials/head') %> 
<!-- HEAD -->

<body>
    
    <!-- HEADER -->
    <%- include('../partials/header') %> 
    <!-- HEADER -->

    <!-- MAIN -->
    <section class="zapatillas">
    <%  productos.map(e=>{%>
        <%if(e.temporada=== false){%>
       <article class="zapatilla-img <%= e.oculto %>">
           <a href="/products/productDetail/<%= e.id %> ">
           <div>
               <img class="zapatilla-img1" src="/images/articulos/<%= e.imgP %> " alt="zapatilla-img1">
           </div>  
           <div class="ofertasZapatillaPrecio">
               <h5>$<%= e.price %> </h5>
               <p><%= e.marca %>  </p>
               <p><%= e.title%></p>
           </div>
       </a> 
       </article>
       <% }else{ %> 
           <article class="zapatilla-img ">
               <a href="/products/productDetail/<%=e.id %> ">
               <div>
                   <img class="zapatilla-img1" src="/images/articulos/<%= e.imgP %> " alt="zapatilla-img1">
               </div>  
               <div class="ofertasZapatillaPrecio">
                  
                  <h5>$<%= e.price %> </h5>
                   <p><%= e.marca %>  </p>
                   <p><%= e.tile %> </p>
                  
               </div> 
           
            </a>
           </article>
       <% } %>
       <% }) %>
    </section>
    <!-- MAIN -->
            
        <!-- FOOTER -->
        <%- include('../partials/footer') %> 
        <!-- FOOTER -->

    </body>
</html>