<!DOCTYPE html>
<html lang="en">

 <!-- HEAD -->
<%- include('../partials/head') %> 
<!-- HEAD -->

<body>
    
    <!-- HEADER -->
    <%- include('../partials/header') %> 
    <!-- HEADER -->

    <!-- MAIN -->
    <main>
        <div class="contenedorVideo">
            <video width="1024" height="500" controls autoplay loop>
                <source src="/video/NIKE ESCALERAS IMPOSIBLES.mp4" type="video/mp4">
                <source src="/video/NIKE ESCALERAS IMPOSIBLES.webm" type="video/webm">
                Tu navegador no soporta HTML5 video.
          </video>
          <div><img src="/images/nike-running.jpg" alt=""></div>
        </div>   
        <h1>TODOS LOS PRODUCTOS</h1>
        <br>
    <section class="mercaderia">
    <%  productos.map(e=>{%>
 
       <article>
        <a href="/products/productDetail/<%= e.id %>">
           <div>
               <img src="/images/articulos/<%= e.imgP %>" alt="zapatilla-img1">
           </div>  
           <div>
            <strong>
                <%= e.price %>
            </strong>
            <p>
                <%=e.marca%>
            </p>
            <h4>
                <%= e.title%>
            </h4>
           </div>
        </a>   
       </article>
       <% }) %>
    </section>
</main>
    <!-- MAIN -->
            
        <!-- FOOTER -->
        <%- include('../partials/footer') %> 
        <!-- FOOTER -->

    </body>
</html>