<small class="obligatorio">*Campo Obligatorio</small>
<div class="terminos">
    <input type="checkbox" name="terminos" id="terminos">
    <label for="terminos"> He leido y acepto los <a href="">términos y condiciones</a> y las <a href="">politicas de
            privacidad</a> del Mundo del Calzado.</label>
</div>


<%btnregistro.map(element=>{%>
    <div class="<%=element.class%>">
        <button type="<%=element.tipo %> " placeholder="<%=element.nombre %> "><%=element.nombre%></button>

    </div>
    <p><%=element.parrafo %> </p>
<%})  %>



<!-- <div class="btton">
    <button type=" " placeholder="INICIAR SESIÓN">INICIAR SESIÓN</button>
</div> -->