<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/head') %>
    <!-- HEAD -->

    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>
            <!-- HEADER -->

            <main class="login">
                <h1>BIENVENIDOS</h1>
                <hr>
                <div class="caja">
                    <div class="caja1">
                        <h2> INICIAR SESIÓN</h2>

                        <p>Ingresa los datos de tu cuenta, El Mundo del Calzado</p>

                          <form action="/user/login" method="POST">
                            
                                <div class="email">
                                    <label for="email">Tu Email</label>
                                    <input type="email" name="email" id="email" placeholder="Email" value="<%= locals.oldData && oldData.email ? oldData.email : null %> ">
                                    <small id="errorsemail"></small>
                                    <% if(locals.errors && errors.email){ %>
                                        <p style="color: red;"><%= errors.email.msg %> </p>
                                        <% }else if(locals.mensajeUsuario){ %>
                                            <p style="color: red;"><%= locals.mensajeUsuario %> </p>
                                            <%}%> 
                                </div>
                    
                                <div class="password">
                                    <label for="pasword"> Tu Contraseña</label>
                                    <input type="password" name="password" id="password" placeholder="Contraseña">
                                    <small id="errorspass"></small>
                                    <% if(locals.errors && errors.password){ %>
                                        <p style="color: red;"><%= errors.password.msg %> </p>
                                        <% } else if(locals.mensaje){%>
                                            <p style="color: red;"><%= locals.mensaje %> </p>
                                        <%}%> 
                                </div>
                                <article>
                                    <a id="mostrar"><i class="fas fa-eye-slash"></i>mostrar</a>
                                </article>
    
                                <div class="checkbox">
                            
                                    <input type="checkbox" name="recordame" id="recordame">
                                    <label for="recordame">Recordame</label>
                                    <!-- <a href="">¿olvidaste tu contraseña?</a> -->
                                </div>
                                <div>
                                    <button class="bttn" type="submit" placeholder="submit">INGRESÁ</button>
                                </div>
    
                         </form>      
                    </div>

                    <div class="caja2">
                        <label>Unite al Club de el Mundo del Calzado</label>
                        <ul>
                            <li> Disfruta de todos los beneficios. </li>
                            <li> Recibi nuestras mejores ofertas y promociones.</li>
                        </ul>
                        <h3>NO TENGO CUENTA</h3>

                        <div>
                           <a href="/user/register"> <button class="form" type="register" placeholder="register">QUIERO REGISTRARME
                                    </button></a>
                        </div>
                        <H4>INFORMACIÓN IMPORTANTE</H4>
                        <P class="description">
                            Por favor ingrese una dirección de email válida y a la que
                            usted tenga acceso, esta dirección es fundamental para la comunicación
                            post venta, envio de factura electrónica y coordinación de entrega de pedido.
                        </P>
                    </div>

                </div>
            </main>


            <!-- FOOTER -->
            <%- include('../partials/footer') %>
                <!-- FOOTER -->
<script src="/js/validacionLogin.js"></script>
    </body>
    
</html>