<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/head') %>
    <!-- HEAD -->

    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>
            <!-- HEADER -->

            </header>

            <main class="login">
                <h1>BIENVENIDOS</h1>
                <hr>
                <div class="caja">
                    <div class="caja1">
                        <h2> INICIAR SESIÓN</h2>

                        <p>Ingresa los datos de tu cuenta, El Mundo del Calzado</p>

                        <form action="">

                            <%login.map(element=>{%>

                                <div class="<%=element.class%>">
                                    <label for="<%=element.class%>">
                                        <%=element.name%>
                                    </label>
                                    <input type="<%=element.class%>" name="<%=element.class%>" id="<%=element.class%>"
                                        placeholder="<%=element.name%>">
                                </div>
                            
                                <% }) %>

                                <article>
                                    <a href=""><i class="fas fa-eye-slash"></i>mostrar</a>
                                </article>

                                <div class="checkbox">

                                    <input type="checkbox" name="checkbox" id="checkbox">
                                    <label for="checkbox"> <a href="">¿olvidaste tu contraseña?</a></label>

                                </div>
                                <div>
                                    <button class="bttn" type="submit" placeholder="submit">INGRESÁ</button>
                                </div>
                         </form>      
                    </div>

                    <div class="caja2">
                        <label>Unite al Club de el Mundo del Calzado</label>
                        <ul>
                            <li> Disfruta de todos los beneficios. </li>
                            <li> Recibi nuestras mejores ofertas y promociones.</li>
                        </ul>
                        <h3>NO TENGO CUENTA</h3>

                        <div>
                            <button class="form" type="register" placeholder="register">QUIERO REGISTRARME<a
                                    href="/register"></a></button>
                        </div>
                        <H4>INFORMACIÓN IMPORTANTE</H4>
                        <P class="description">
                            Por favor ingrese una dirección de email válida y a la que
                            usted tenga acceso, esta dirección es fundamental para la comunicación
                            post venta, envio de factura electrónica y coordinación de entrega de pedido.
                        </P>
                    </div>

                </div>
            </main>


            <!-- FOOTER -->
            <%- include('../partials/footer') %>
                <!-- FOOTER -->

    </body>

</html>