<!DOCTYPE html>
<html lang="en">
    


 <!-- HEAD -->
<%- include('../partials/head') %> 
<!-- HEAD -->

<body>
    
  <!-- HEADER -->
  <%- include('../partials/header') %> 
  <!-- HEADER -->
  
  <!-- MAIN -->
  <main class="register">
    <div class="register1">
        <h1>REGISTRATE</h1>
        <hr>
        <form action="/user/register" method="POST" enctype="multipart/form-data">

            <div class="nombre">
                <label for="nombre">Nombre <strong class="obligatorio">*</strong></label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" value="<%= locals.oldData && oldData.nombre ? oldData.nombre : null %>">
                <% if(locals.errors && errors.nombre){ %>
                    <p style="color : red"><%= errors.nombre.msg %> </p>
                    <% } %> 
            </div>
            <div class="apellido">
                <label for="apellido">Apellido <strong class="obligatorio">*</strong></label>
                <input type="text" name="apellido" id="apellido" placeholder="Apellido" value="<%= locals.oldData && oldData.apellido ? oldData.apellido : null %>">
                <% if(locals.errors && errors.apellido){ %>
                    <p style="color:red"><%= errors.apellido.msg %> </p>
                    <% } %> 
            </div>
            <div class="email">
                <label for="email">Email <strong class="obligatorio">*</strong></label>
                <input type="text" name="email" id="email" placeholder="Email" value="<%= locals.oldData && oldData.email ? oldData.email : null %>">
                <% if(locals.errors && errors.email){ %>
                    <p style="color:red"><%= errors.email.msg %> </p>
                    <% } %> 
            </div>
            <div class="password">
                <label for="password">Contraseña <strong class="obligatorio">*</strong></label>
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <% if(locals.errors && errors.password){ %>
                    <p style="color:red"><%= errors.password.msg %> </p>
                    <% } %> 
            </div>
            <div class="password">
                <label for="img">foto de perfil</label>
                <input type="file" name="img" id="img">
                <% if(locals.errors && errors.img){ %>
                    <p style="color:red"><%= errors.img.msg %> </p>
                    <% } %> 
            </div>
            <small class="obligatorio">*Campo Obligatorio</small>
            <div class="terminos">
                <input type="checkbox" name="terminos" id="terminos">
                <label for="terminos"> He leido y acepto los <a href="">términos y condiciones</a> y las <a href="/informacion/privacidad">politicas de privacidad</a> del Mundo del Calzado.</label>
            </div>
            <div class="btn" >
                <button  type="submit">CREAR</button>
            </div>
            <p>Si tiene una cuenta, inicie sesión con su dirección de correo electronico</p>
        </form>
        
            <div class="btton" >
                <a href="/user/login"><button  type="login" placeholder="INICIAR SESIÓN">INICIAR SESIÓN</button></a>
            </div>
        
    </div>
</main>
<!-- MAIN -->


            
        <!-- FOOTER -->
          <%- include('../partials/footer') %> 
        <!-- FOOTER -->

    </body>
</html>
