<!DOCTYPE html>
<html lang="en">
    


 <!-- HEAD -->
<%- include('../partials/head') %> 
<!-- HEAD -->

<body>
    
  <!-- HEADER -->
  <%- include('../partials/header') %> 
  <!-- HEADER -->
  
      <main class="register">
            <div class="register1">
                <h1>REGISTRATE</h1>
                <hr>
                <form action="">

                   <%-include("./partials/form")%> 
                    <%-include("./partials/btnregistro") %> 
                   
                </form>
            </div>
        </main>

            
        <!-- FOOTER -->
          <%- include('../partials/footer') %> 
        <!-- FOOTER -->

    </body>
</html>
