<section class="ofertas">
    <h5>Tambien puede interesarte estas ofertas</h5>
    <section class="ofertas-general">

        <% oferta.map(e=>{ %>

            <%if(e.class==="oculto"){%>
                <article class="ofertas-zapatillas <%= e.class %> ">
            <a href="/productDetail/<%= e.id %> ">
                <div class="ofertas-zapatilla_img">
                    <img src="/images/<%= e.imag%>" alt="<%=e.nombre%>">
                </div>

                <div class="ofertas-zapatilla-precio">
                    <h5>$7.500</h5>
                    <p>Zapatillas</p>
                    <p>Topper</p>
                    <p>String Pace Plus</p>
                </div>
            </a>
        </article>
           <% } else{ %>
            <article class="ofertas-zapatillas">
            <a href="/productDetail/<%= e.id %> ">
                <div class="ofertas-zapatilla_img">
                    <img src="/images/<%= e.imag%>" alt="<%=e.nombre%>">
                </div>

                <div class="ofertas-zapatilla-precio">
                    <h5>$7.500</h5>
                    <p>Zapatillas</p>
                    <p>Topper</p>
                    <p>String Pace Plus</p>
                </div>
            </a>
        </article>

            <%} %> 
            

        <% }) %> 
        
        
    </section>
</section>
