<aside class="talles">
    <div class="talles-descripcion">
        <h3><%= idProduct.nombre %>  </h3>
        <h4>
            <% idProduct.colors.map(e=>{ %>
            <span>
               <%= e %> 

                
            </span>
            <%}) %> 
     
        
        </h4>
        <h5>$<%= idProduct.price %> </h5>
    </div>

    <form class="talles-datos" action="/carritoDeCompras">
        <h3>TALLES</h3>
        <div class="talles-datos-numero">
            <% idProduct.talles.map(e=>{ %>
                <div>
                    <input type="checkbox" name="<%= e %> " id="talle<%= e %>">
                    <label for="talle<%= e %>"> <%= e %></label>
                </div>
           <% }) %> 
                
          
            <input class="boton" type="submit" value="AGREGAR A CARRITO">
          
    </form>
</aside>