<div class="tablescroll">
    <div class='tablaproducto'>
        <table class="table1">
            <thead>
                <tr>
                    <th></th>
                    <th>Producto</th>
                    <th class='compu'>Precio</th>
                    <th class='cantidad'>Cantidad</th>
                    <th class='compu'>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <% productEnCompra.map(e=>{%>
                    <tr>
                        <td><button class='eliminar'></a><img class='eliminar' src="/images/icono x.png"
                                    alt=""></button>
                        </td>
                        <td><img class="imgcarrito" src="/images/<%= e.img %>
          " alt="">
                            <ul>
                                <li>
                                    <%= e.nombre %>
                                </li>
                                <li>Talles: <%= e.talles %>
                                </li>
                                <li class='precioCell'>Precio:$<%= e.price %>
                                </li>
                            </ul>
                        </td>
                        <td class='compu alinear'><strong>$<%= e.price %> </strong></td>
                        <td class="cantidad"><input type="number" id="number" name="number" min=1 max=100 value="1"></td>
                        <td class='compu alinear'><strong>$<%= e.price %></strong></td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
        <a href="/">Continuar Comprando >>></a>
    </div>
</div>