<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/head') %>
    <!-- HEAD -->

    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>
            <!-- HEADER -->

            <!-- /**************** main *********************/ -->

            <main class="maincarrito">
                <div class="">
                    <ul class="items">
                        <li class="item Inicio">
                            <a href="/" title="Inicio">
                                Inicio > </a>
                        </li>
                        <li class="item Carrito de Compras">
                            <strong class="carrito">Carrito de Compras</strong>
                        </li>
                    </ul>
                </div>
                <div class="titulo">
                    <h1>CARRITO DE COMPRAS</h1>
                </div>
                <div class='table-flex'>
                    

                        <%- include("./partials/artDeCompra") %>
                    


                    

                        <%- include("./partials/tablaPago") %>

                    
                </div>

                <%- include("partials/ofertasDeCarritos") %>

            </main>

            <!-- /****************** footer ******************/ -->

            <!-- FOOTER -->
            <%- include('../partials/footer') %>
                <!-- FOOTER -->

    </body>

</html>